<div class="designer-id-auth-page common">
	<div class="userInfo">
		<div class="panel panel-info ng-scope panel-common">
			<div class="panel-heading clearfix">
				<h3 class="panel-title">设计师身份认证</h3>
			</div>
			<div class="panel-body table-responsive">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td class="col-md-4">用户Id</td>
							<td>{{user.province}} {{user.city}} {{user.district}}</td>
						</tr>

						<tr>
							<td>注册时间</td>
							<td>{{user.create_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
						</tr>

						<tr>
							<td>真实姓名</td>
							<td>{{user.realname}}</td>
						</tr>

						<tr>
							<td>电话</td>
							<td>{{user.phone}}</td>
						</tr>

						<tr>
							<td>身份证号码</td>
							<td>{{user.uid}}</td>
						</tr>

						<tr>
							<td>身份证正面</td>
							<td>
								<img-url data="user.uid_image1"></img-url>
							</td>
						</tr>

						<tr>
							<td>身份证反面</td>
							<td>
								<img-url data="user.uid_image2"></img-url>
							</td>
						</tr>

						<tr>
							<td>银行</td>
							<td>{{user.bank}}</td>
						</tr>

						<tr>
							<td>卡号</td>
							<td>{{user.bank_card}}</td>
						</tr>

						<tr>
							<td>银行卡照片</td>
							<td>
								<img-url data="user.bank_card_image1"></img-url>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="form-group col-md-12">
			<label for="">未认证通过原因(注：审核通过不需要填写)</label>
			<textarea class="form-control" ng-model="errorMsg" rows="3"></textarea>
		</div>
		<div class="form-group col-md-12">
			<button type="button" class="btn btn-success" ng-click="success(2)">审核通过</button>
			<button type="button" class="btn btn-warning" ng-click="success(3)">审核失败</button>
		</div>

	</div>
</div>
